body {
    margin:0;
    font-size:100%;
    font-family:monotype;
}

div#header {
    min-height:110px;
    min-width:1000px;
    background-color:#222222;
    color:#dddddd;
}

div#logo {
    position:absolute;
    padding:0 5%;
    top:5px;
}

#logo h1 {
    margin:0;
    width:250px;
    line-height:1em;
    font-size:3em;
}

div#nav-bar {
    position:relative;
    float:right;
    left:-2%;
    top:50px;
}

#nav-bar ul {
    list-style-type:none;
}

#nav-bar li {
    display:inline;
    float:left;
}

#nav-bar a {
    border-radius:10px;
    padding:10px 15px;
    font-size:1.5em;
    text-decoration:none;
}

#nav-bar a:visited, :hover{
    color:#dddddd;
}

#nav-bar a:hover {
    background-color:#555555;
}

#nav-bar a:active {
    color:#222222;
}

h2.container-label {
    color:#222222;
}

div#main {
    min-width:1000px;
}

div#main div {
    margin:0 5%;
    font-family:courier, monotype;
}

div#compiler {
    position:absolute;
    margin:0 5%;
}

div#interpreter {
    position:relative;
    float:right;
}

h2.container-label {
    text-align:center;
}

textarea, textarea:hover {
    min-width:400px;
    min-height:215px;
    max-width:400px;
    max-height:215px;
    background-color:#000000;
    color:#00ff00;
}

p#output {
    min-width:400px;
    min-height:200px;
    max-width:400px;
    max-height:200px;
    background-color:#000000;
    color:#00ff00;
}

p#output, div#interpreter label, #cmd-line {
    margin:0;
    font-size:1.2em;
}


div#interpreter label {
    color:#00ff00;
    background-color:#000000;
    padding:2px 0 0;
}

#cmd-line {
    border:0px none;
    color:#00ff00;
    background-color:#000000;
    width:328px;
}

