
body {
    margin:0;
    font-size:100%;
}

#header h1 {
    text-align:center;
    font-size:3em;
}

textarea {
    font-family:courier, monotype;
    font-size:1.05em;
    background-color:#555555;
    color:#00ff00;
    font-weight:bold;
}

h2 {
    text-align:center;
}

div.class-panel {
    max-width:55em;
    padding-left:2em;
    float:left;
}

div.interpreter-panel {
    position:relative;
    max-width:55em;
    padding-right:2em;
    float:right;
    padding-bottom:0;
    margin-bottom:0;
}

p {
    margin:0;
    padding:0;
    background-color:#555555;
    color:#00ff00;
    font-family:courier, monotype;
    font-weight:bold;
    font-size:1.05em;
}

input[name='interpreter-bar'] {
    margin:0;
    width:31.5em;
    background-color:#555555;
    color:#00ff00;
    font-family:courier, monotype;
    font-weight:bold;
    font-size:1.05em;
    border-style:hidden;
    margin-top:10px;
}

div#terminal {
    background-color:#555555;
}

textarea#interpreter-history {
    border-style:hidden;
}

