
body {
    margin:0;
    font-size:100%;
}

#header h1 {
    text-align:center;
}

textarea {
    font-family:courier, monotype;
}

div.class-panel {
    max-width:55em;
    padding-left:2em;
    float:left;
}

div.interpreter-panel {
    position:relative;
    max-width:55em;
    padding-right:2em;
    float:right;
}

