body {
    margin:0;
    font-size:100%;
    font-family:sans-serif;
}

/* HEADER */

div#header {
    min-height:70px;
    min-width:1000px;
    color:#dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555555), color-stop(0.7, #222222));
}

div#logo {
    position:absolute;
    padding:0 2.5%;
    top:10px;
}

#logo h1 {
    margin:0;
    width:500;
    line-height:1em;
    font-size:3em;
}

div#nav-bar {
    position:relative;
    float:right;
    left:-2%;
    top:50px;
}

#nav-bar ul {
    list-style-type:none;
}

#nav-bar li {
    display:inline;
    float:left;
}

#nav-bar a {
    border-radius:10px;
    padding:10px 15px;
    font-size:1.5em;
    text-decoration:none;
}

#nav-bar a:visited, #nav-bar a:hover{
    color:#dddddd;
}

#nav-bar a:hover {
    background-color:#555555;
}

#nav-bar a:active {
    color:#222222;
}


/* CONTENT */
div#main {
    min-width:90%;
}

div#main div {
    margin:0 2.5%;
    text-align:center;
    width:45%;
}

h2.container-label {
    color:#333333;
    font-size:1.5em;
}

div#compiler {
    position:absolute;
}

div#interpreter {
    position:relative;
    float:right;
}

textarea, p#output {
    width:100%;
    min-height:215px;
    max-height:215px;
    border:inset 3px;
    border-radius:7px;
    color:#222222;
    text-align:left;
    padding:5px;
}

p#output {
    overflow:auto;
}

input#cmd-line , input#cmd-line:focus {
    border-style:none;
    outline:none;
    width:82%;
}

button#compile {
    font-size:1em;
}

