body {
    margin:0;
    font-size:100%;
    font-family:sans-serif;
}

div#header {
    min-height:120px;
    min-width:1000px;
    color:#dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555555), color-stop(0.7, #222222));
}

div#logo {
    position:absolute;
    padding:0 5%;
    top:10px;
}

#logo h1 {
    margin:0;
    width:250px;
    line-height:1em;
    font-size:3em;
}

div#nav-bar {
    position:relative;
    float:right;
    left:-2%;
    top:50px;
}

#nav-bar ul {
    list-style-type:none;
}

#nav-bar li {
    display:inline;
    float:left;
}

#nav-bar a {
    border-radius:10px;
    padding:10px 15px;
    font-size:1.5em;
    text-decoration:none;
}

#nav-bar a:visited, :hover{
    color:#dddddd;
}

#nav-bar a:hover {
    background-color:#555555;
}

#nav-bar a:active {
    color:#222222;
}

h2.container-label {
    color:#222222;
}

div#main {
    min-width:90%;
}

div#main div {
    margin:0 2.5%;
}

div#compiler {
    position:absolute;
    width:45%;
}

div#interpreter {
    position:relative;
    float:right;
    width:45%;
}

h2.container-label {
    text-align:center;
}

textarea, p#output, textarea:hover {
    width:100%;
    min-height:215px;
    max-height:215px;
    border:solid;
    color:#222222;
}


p#output, div#interpreter label, #cmd-line {
    margin:0;
    font-size:1.2em;
}


div#interpreter label {
    color:#00ff00;
    background-color:#000000;
    padding:2px 0 0;
}

#cmd-line {
    border:0px none;
    color:#00ff00;
    background-color:#000000;
    width:328px;
}

